<a href="https://colab.research.google.com/github/JBattana/115-Week-4-Assignments/blob/main/Week_4_Assignment_4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download the dataset and load it as a pandas dataframe and perform the following:

1. Using pandas to insert a new record into the dataset with the following details:

Fast-Food Chain: "Subway",

Systemwide Sales: $1000 million,

Average Sales per Unit: $400 thousand,

Franchised Stores: 2000,

Company Stores: 500,

2021 Total Units: 2500,

Total Change in Units from 2020: 50

In [ ]:
#Code here

2. Update the systemwide sales for the fast food chain with the name "McDonald's" to $40000 million.

In [ ]:
#Code here

3. Using pandas to calculate the average systemwide sales for each category of fast food chains, grouped by category.

In [ ]:
#Code here

4.Using pandas retrieve the top 10 fast food chains with the highest average sales per unit, ordered by average sales per unit in descending order.

In [ ]:
#Code here

5. Using pandas retrieve the names of all fast food chains that have more franchised stores than company stores.

In [ ]:
#Code here

6. Using pandas delete all records from the dataset where the total change in units from 2020 is negative.

In [ ]:
#Code here